@font-face {
  font-family: termina;
  src: url(./../../assets/fonts/l) format("woff2"),
      url(./../../assets/fonts/d.woff) format("woff"),
      url(./../../assets/fonts/a) format("opentype");
  font-weight: 800;
  font-style: normal;
}

// 蓋掉套件樣式
video::-webkit-media-controls{
  display:none !important;
}
.navbar-nav{
  display: block!important;
  .nav{
    &.active{
      a{
        color: #ff0100!important;
      }
    }
    a{
      color:black!important;
    }
  }
}

.body{
  height: 100%;
}
.navigation{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  .nav{
    cursor: pointer;
    &.active{
      color:red;
      text-decoration: line-through;
    }
  }
}

// 隔線佈局樣式
.raster-box{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background:
    -webkit-linear-gradient(top, transparent calc(100% - 1px), #ff0100 100%),
    -webkit-linear-gradient(left, transparent calc(100% - 1px), #ff0100 100%)
    ;
  background-size: 33.33% 33.33%;
  pointer-events: none;
}
.raster-bg{
  opacity: 1;
  position: absolute;
  height: 100%;
  min-height: 3000px;
  top: 0;
  pointer-events: none;
  z-index: 10;
  width: 100%;
  left: 0;
  background: 
  repeating-linear-gradient(180deg,transparent,transparent calc(8.33333vw - 1px),
  rgba(255,0,0,.1) calc(8.33333vw - 1px),rgba(255,0,0,.1) 8.33333vw);
}
.h-raster-v{
  position: absolute;
  height: 100%;
  top: 0;
  background-color: rgba(255,0,0,.1);
  width: 1px;
  &.rv1 {
    left: 8.33333vw
  }
  &.rv2 {
    left: 16.66667vw
  }
  &.rv3 {
    left: 25vw
  }
  &.rv5 {
    left: 41.66667vw
  }
  &.rv6 {
    left: 50vw
  }
  &.rv7 {
    left: 58.33333vw
  }
  &.rv9 {
    left: 75vw
  }
  &.rv10 {
    left: 83.33333vw
  }
  &.rv11 {
    left: 91.66667vw
  }
}

// 內容
.content{
  position: relative;
  height: 100%;
  overflow:auto;
  .mail-box{
    position: absolute;
    top: calc(8.33333vw + 100px);
    left: calc(8.33333vw - 100px);
    transform: rotate(-90deg) translate(8px, -12px);
    -webkit-transform: rotate(-90deg) translate(8px, -12px);
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    background: yellow;
    .brand-color{
      color:red;
    }
  }
  .main-title{
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 150px;
    line-height: 1;
    color:red;
    margin: 0;
    .first{
      font-family: termina,Helvetica,Arial,sans-serif ;
      margin-top: 5vw;
      transform: translateY(-100vw);
    }
  }
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  img{
    opacity: 0.3;
  }
}

.work-box{
  float: left;
  position: relative;
  cursor: pointer;
  &.work-l{
    width: 45%;
  }
  &.work-m{
    width: 30%;
    margin-top: 30vh;
  }
  &.work-r{
    width: 25%;
    margin-top: 85vh;
  }
  &:hover{
    .work-img{
      padding: 25px;
    }
  }
  .work-img{
    position: relative;
    transition: .3s;
    img{
      width: 100%;
    }
  }
  .work-title{
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    font-family: termina,Helvetica,Arial,sans-serif ;
  }
}