<div class="body">
  <div class="navigation">
    <div class="nav active">HOME</div>
    <div class="ml-5 nav">WORK</div>
    <div class="ml-5 nav">ABOUT</div>
  </div>

  <div class="content">
    <a href="javascript:;" class="mail-box">
      cliadasdasd<span class="brand-color">@</span>gmil.com
    </a>
    <div class="main-title">
      <div class="first">MOTTOMOTTO</div>
      <!-- ZACK.PHOTOGRAPHY -->
    </div>
    <div class="logo">
      <img src="./../../assets/image/logo.png" alt="">
    </div>
    <!-- <div class="slider-video">
      <iframe [src]="urlSafe" frameborder="0"></iframe>
    </div> -->
    <video class="slider-video">
      <source src="./../../assets/image/slider.mp4">
    </video>
  </div>

  <!-- 隔線框架 -->
  <div class="raster-box"></div>
  <div class="raster-bg">
    <div class="h-raster-v rv1"></div>
    <div class="h-raster-v rv2"></div>
    <div class="h-raster-v rv3"></div>
    <div class="h-raster-v rv4"></div>
    <div class="h-raster-v rv5"></div>
    <div class="h-raster-v rv6"></div>
    <div class="h-raster-v rv7"></div>
    <div class="h-raster-v rv8"></div>
    <div class="h-raster-v rv9"></div>
    <div class="h-raster-v rv10"></div>
    <div class="h-raster-v rv11"></div>
  </div>
</div>